In [ ]:
# full calendar
import calendar 
calendar.prcal(2025)

                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [ ]:
# list comphression by using for loop 
rows=int(input("enter the no o0f rows:"))
pattern=[(['*' for _  in range(i)])for i in range(1,rows+1)]
for line in pattern :
    print(line)

enter the no o0f rows: 5

['*']
['*', '*']
['*', '*', '*']
['*', '*', '*', '*']
['*', '*', '*', '*', '*']

In [ ]:
# pattern in normal form
rows=int(input("enter the no o0f rows:"))
pattern=[''.join(['*' for _  in range(i)])for i in range(1,rows+1)]
for line in pattern :
    print(line)

enter the no o0f rows: 5

*
**
***
****
*****

In [ ]:
# numbers in right angle triangle
rows=int(input("enter the no o0f rows:"))
pattern=[''.join([str(num) for num in range(1,i+1)])for i in range(1,rows+1)]
for line in pattern :
    print(line)

enter the no o0f rows: 26

1
12
123
1234
12345
123456
1234567
12345678
123456789
12345678910
1234567891011
123456789101112
12345678910111213
1234567891011121314
123456789101112131415
12345678910111213141516
1234567891011121314151617
123456789101112131415161718
12345678910111213141516171819
1234567891011121314151617181920
123456789101112131415161718192021
12345678910111213141516171819202122
1234567891011121314151617181920212223
123456789101112131415161718192021222324
12345678910111213141516171819202122232425
1234567891011121314151617181920212223242526

In [ ]:
rows=int(input("enter the no o0f rows:"))
pattern=[''.join([chr(65+j) for j in range(i)])for i in range(1,rows+1)]
for line in pattern :
    print(line)

enter the no o0f rows: 26

A
AB
ABC
ABCD
ABCDE
ABCDEF
ABCDEFG
ABCDEFGH
ABCDEFGHI
ABCDEFGHIJ
ABCDEFGHIJK
ABCDEFGHIJKL
ABCDEFGHIJKLM
ABCDEFGHIJKLMN
ABCDEFGHIJKLMNO
ABCDEFGHIJKLMNOP
ABCDEFGHIJKLMNOPQ
ABCDEFGHIJKLMNOPQR
ABCDEFGHIJKLMNOPQRS
ABCDEFGHIJKLMNOPQRST
ABCDEFGHIJKLMNOPQRSTU
ABCDEFGHIJKLMNOPQRSTUV
ABCDEFGHIJKLMNOPQRSTUVW
ABCDEFGHIJKLMNOPQRSTUVWX
ABCDEFGHIJKLMNOPQRSTUVWXY
ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [ ]:
rows=int(input("enter the no o0f rows:"))
pattern=[''.join([chr(97+j) for j in range(i)])for i in range(1,rows+1)]
for line in pattern :
    print(line)

enter the no o0f rows: 26

a
ab
abc
abcd
abcde
abcdef
abcdefg
abcdefgh
abcdefghi
abcdefghij
abcdefghijk
abcdefghijkl
abcdefghijklm
abcdefghijklmn
abcdefghijklmno
abcdefghijklmnop
abcdefghijklmnopq
abcdefghijklmnopqr
abcdefghijklmnopqrs
abcdefghijklmnopqrst
abcdefghijklmnopqrstu
abcdefghijklmnopqrstuv
abcdefghijklmnopqrstuvw
abcdefghijklmnopqrstuvwx
abcdefghijklmnopqrstuvwxy
abcdefghijklmnopqrstuvwxyz

In [ ]:
# pyramid pattern using list comprehensions 
rows=int(input("enter the no o0f rows:"))
pattern=[(' '*(rows-i)+'*' *(2*i-1))for i in range(1,rows+1)]
for line in pattern :
    print(line)

enter the no o0f rows: 5

    *
   ***
  *****
 *******
*********

In [ ]:
# miiror image of pattern 
rows=int(input("enter the no of rows:"))
pattern=[''.join([str(num) for num in range(1,rows-i+1)])for i in range(rows)]
for line in pattern :
    print(line)

enter the no of rows: 7

1234567
123456
12345
1234
123
12
1

In [ ]:
# list comprehension  using to print hallow
n=int(input("enter the no of rows:"))
pattern=[['* ' if i==0 or i==n-1 or j==0 or j==n-1 else '  ' for i in range(n)]for j in range(n)]
for i in pattern :
    print(''.join(i))

enter the no of rows: 5

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
# rhombus pattern
n=int(input(" enter rows:"))
upper=[' '*(n-i)+''.join ('*' if j==0 or j==2*i else ' ' for j in range(2*i+1)) for i in range (n)]
lower=[' '*(i+2)+''.join ('*' if j==0 or j==2*(n-i-2) else ' ' for j in range(2*(n-i)-1)) for i in range (n-1)]
for line in upper+lower:
    print(line)

 enter rows: 5

     *
    * *
   *   *
  *     *
 *       *
  *     *
   *   *
    * *
     *

In [ ]:
def rhombus_pattern(name):
    n = len(name)
    
    # Upper part of the rhombus
    for i in range(n):
        print(" " * (n - i - 1) + name[:i + 1])
    
    # Lower part of the rhombus
    for i in range(n - 2, -1, -1):
        print(" " * (n - i - 1) + name[:i + 1])

# Example usage
rhombus_pattern("ganesh tata")

          g
         ga
        gan
       gane
      ganes
     ganesh
    ganesh
   ganesh t
  ganesh ta
 ganesh tat
ganesh tata
 ganesh tat
  ganesh ta
   ganesh t
    ganesh
     ganesh
      ganes
       gane
        gan
         ga
          g